section.todos {
    background-size: 100%;
    background-position: bottom;
    background-color: black;
}

section.todos article.todoGallery {
    padding: 2em 0 4em;
    width: 100%;
}

article.todoGallery div.singleTodo {
    border: 2px solid #212529;
    text-align: center;
    position: relative; 
    padding: 0 0 2em;
    height: 15em;
    margin: 0;
    border-radius: 5px;
    background-color: rgba(200,200,200, .95);   
}

div.singleTodo h3 {
    padding: .5em 0;
    background-color:rgb(23,162, 184);
    border-bottom: 4px solid #212529;
    color: #212529;
}

div.singleTodo p {
    padding: 1em;
}

/* #region CreateForm */
.createTodo .card {
    border: none;
}
.createTodo form{
    padding:2em;
    border: 2px solid white;
    border-radius: 10px;
}
@media screen and (max-width:1023px) {
    section.todos {
        background-size: 200%;
    }
    .createTodo form {
        width: 95%;
    }
}
/* #endregion */

.singleTodo button#deleteLink {
    position: absolute;
    font-size: 1.2em;   
    top: .5em;
    right: .5em;
    background: none;
    outline: none;
    border: 2px solid black;
    border-radius: 5px;
    transition: .5s;
}
button#deleteLink:hover, button#editLink:hover {
    background-color:rgba(200,200,200, .95);
    color: rgb(144, 45, 20);
    border: 2px solid rgb(144, 45, 20);
}
.singleTodo button#editLink {
    position: absolute;
    font-size: 1.2em;
    top: .5em;
    left: .5em;
    background: none;
    outline: none;
    border: 2px solid black;
    border-radius: 5px;
    transition: .5s;
}
article.todoGallery h2.alert {
    height: 3.5em;
}